github:
  token: "your_token_here"
gitlab:
  gitlab.com:
    token: "your_gitlab_com_token_here"
  gitlab.kitware.com:
    token: "your_self_hosted_instance_token_here"
semantic_scholar:
  api_key: "your_key_here"
